@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.painel-lateral {



    margin-top:95px;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    align-items: normal;
    gap: 10px;
    /*espacamento entre as colunas*/
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 13vw;
    
}


.btn {


    position: relative;
    top: -120px;
    width: 140px;
    padding: 3px;
    margin-left: -40px;
    border-radius: 8px;
    background-color: black;
    color: white;
    

}

.painel-lateral-baixo {



    margin-top: 450px;
    padding: -10px;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    align-items: normal;
    gap: 10px;
    /*espacamento entre as colunas*/
    width: 13vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10vh;

}

.botao-chat {


    width: 170px;
    text-align: left;
    background-color: white;
    border: none;


}


.borda {}

.meio {

    margin-left: 760px;
    font-size: 30px;
    position: relative;
    top: 300px;

}


.exemplos{
 
margin-left: 550px;
margin-top: -400px;
gap: 16px;
width: 300px
;


}

h1{


margin-left: 70px;

}

h2{


    font-size: 20px;
    
}

.exemplosdois {


    margin-left: 850px;
    margin-top: -165px;
    gap: 16px;
    width: 300px
    ;
    

}

.exemplostres{
    margin-left: 1200px;
    margin-top: -142px;
    gap: 16px;
    width: 320px
    ;



}